

body {
	width: 90%;
	margin: 0 auto;
	background-image: linear-gradient(120deg, yellow, orange, orange);
}

p {
	font-size: 12px;
}
	
h3#detailTitle {
	color: red;
}
	
	
@media(min-width: 1100px) {

	header {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: "logo choosePanel";
	}
	
	#choosePanel {
		grid-area: choosePanel;
	}
	
	#logoLink {
		grid-area: logo;
		width: 100%;
	}
		
	main {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: "feeds detail";
	}
	
	#feeds {
		grid-area: feeds;
	}
	
	#detail {
		grid-area: detail;
	}
		
	#logo {
		margin-left: 10%;
		max-height: 250px;
	}
	
	p {
		font-size: 12px;
	}
	
	#detailPart {
		display: block;
		margin: 2rem;
	}
	
	.descriptionDivWithHtmlContent img {
		display: block;
		
	}
}

@media(max-width: 1100px) and (min-width: 800px) {
	
	#logo {
		max-width: 100%;
		max-height: 350px;
	}
	
	#detailPart {
		grid-area: detailPart;
		display: none;
		margin: 1rem;
	}
	
	header {
		display: grid;
		grid-template-columns: 15% auto 15%;
		grid-template-areas: ". logo ." ". choosePanel .";
	}
	
	#choosePanel {
		grid-area: choosePanel;
		width: 100%;
	}
	
	#logoLink {
		grid-area: logo;
		width: 100%;
	}
	
	
	main {
		display: grid;
		grid-template-areas: "feeds";
	}
	
	#feeds {
		grid-area: feeds;
	}
	
	#headingDetail {
		display: none;
	}
	
	
	#dateDetail {
		display: none;
	}
	
	#followLink {
		margin: 1rem;
		width: 10vw;
	}
	
	#descriptionDetailP {
		display: none !important;
	}
	
	.descriptionDivWithHtmlContent img {
		display: inline;
		width: 100%;
		float: left;
	}
}

@media(min-width: 400px) and (max-width: 800px) {

	#logo {
		max-width: 100%;
		max-height: 350px;
	}
	
	#detailPart {
		grid-area: detailPart;
		display: none; 
		margin: 1rem;
	}
	
	header {
		display: grid;
		grid-template-areas: "logo" "choosePanel";
	}
	
	#choosePanel {
		grid-area: choosePanel;
	}
	
	#logoLink {
		grid-area: logo;
		width: 100%;
	}
	
	main {
		display: grid;
		grid-template-areas: "feeds";
	}
	
	#feeds {
		grid-area: feeds;
	}
	
	#photoDetail {
		max-width: 65vw; 
	}
	
	#headingDetail {
		display: none;
	}
	
	#dateDetail {
		display: none;
	}
	
	#followLink {
		margin: 1rem;
		width: 10vw;
	}
	
	#descriptionDetailP {
		display: none !important;
	}
	
	.descriptionDivWithHtmlContent img {
		display: inline;
		width: 100%;
		float: left;
	}
}

@media(max-width: 400px) {

	#logo {
		max-width: 100%;
		max-height: 250px;
	}
	
	#detailPart {
		grid-area: detailPart;
		display: none; 
		margin: 1rem;
	}
	
	header {
		display: grid;
		grid-template-areas: "logo" "choosePanel";
	}
	
	#choosePanel {
		grid-area: choosePanel;
	}
	
	#logoLink {
		grid-area: logo;
		width: 100%;
	}
	
	main {
		display: grid;
		grid-template-areas: "feeds";
	}
	
	#feeds {
		grid-area: feeds;
	}
	
	#photoDetail {
		max-width: 65vw; 
	}
	
	#headingDetail {
		display: none;
	}
	
	#dateDetail {
		display: none;
	}
	
	#followLink {
		margin: 0.5rem;
		width: 5vw;
	}
	
	#descriptionDetailP {
		display: none !important;
	}
	
	.descriptionDivWithHtmlContent img {
		display: inline;
		width: 100%;
		float: left;
	}
	
	footer p {
		text-align: center;
	}
}