

#followLink {
	float: right;
	max-width: 100px;
	height: auto;
}

#dateDetail {
	float: right;
	font-size: 15pt;
	font-style: italic;
}

#descriptionDetail {
	text-align: center;
	font-size: 12pt;
}

#headingDetail {
	font-weight: bold;
}

@media(min-width: 400px) and (max-width: 1100px) {
	
	#detailPart {
		grid-area: detailPart;
	}

	.recordOfItem {
		display: grid;
		grid-template-columns: auto 50px 100px;
		grid-template-areas: "detailTitleHeading detailTitleHeading  linkToDetail" "description date date" "detailPart detailPart detailPart";
		border: 10px solid black;
		border-radius: 20px;
		margin: 1rem;
		background-image: linear-gradient(to bottom right, orange,yellow);
		filter: sepia(10%);	
	}
}


@media(min-width: 1100px) {
	
	.recordOfItem {
		display: grid;
		grid-template-columns: auto 50px 100px;
		grid-template-areas: "detailTitleHeading detailTitleHeading  linkToDetail" "description date date";
		border: 10px solid black;
		border-radius: 20px;
		margin: 1rem;
		background-image: linear-gradient(to bottom right, orange,yellow);
		filter: sepia(10%);	
	}
	
	#detailPart {
		border: 10px double black;
		border-radius: 20px;
		padding: 1rem;
		background-image: linear-gradient(to bottom right, orange,yellow);
	}
	
	#detailPart img{
		width: 35vw;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}


@media(min-width: 400px) {
	
	.appendedTitle {
		grid-area: detailTitleHeading;
		font-weight: bold;
		width: 100%;
		margin: 1rem;
		color: red;
	}

	.appendedDescription {
		grid-area: description;
		width: 100%;
		text-align: left;
		max-height: 100px;
		overflow: hidden;
		margin: 1rem;
		padding-right: 1rem;
		font-size: 12pt;
		font-weight: bold;
	}

	.appendedDate {
		width: 200px;
		grid-area: date;
		font-size: 15pt;
		margin: 0.5rem;
		font-style: italic;
	}

	.linkToDetail {
		grid-area: linkToDetail;
		margin: 2rem;
	}
	
	#choosePanel {
		display: grid;
		grid-template-columns: 200px auto;
		grid-template-rows: auto 50px 50px;
		grid-row-gap: 0.5rem;
		grid-column-gap: 0.5rem;
		margin: 1rem;
		margin-top: 2rem;
		grid-template-areas: "mainHeading mainHeading" "urlExample urlInsert" "selectOfOrder submitOfOrder";			
	}
		
	#mainHeading {
		display: block;
		grid-area: mainHeading;
		font-weight: bold;
		width: 100%;
	}

	#urlExample {
		grid-area: urlExample;
		display: inline-block;
		width: 200px;
	}
		
	#urlInsert {
		grid-area: urlInsert;
		display: block;
		height: 100%;
	}

		
	#selectOfOrder{
		grid-area: selectOfOrder;
		display: inline-block;
		width: 200px;
	}
		
	#submitOfOrder {
		grid-area: submitOfOrder;
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

@media(max-width: 400px) {
	
	#detailPart {
		grid-area: detailPart;
	}

	.recordOfItem {
		display: grid;
		grid-template-areas: "detailTitleHeading" "linkToDetail" "date" "description" "detailPart";
		border: 10px solid black;
		border-radius: 20px;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-image: linear-gradient(to bottom right, orange,yellow);
		filter: sepia(10%);	
	}
	
	#choosePanel {
		display: grid;
		grid-template-rows: auto 30px 50px 50px 50px;
		grid-row-gap: 0.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		grid-template-areas: "mainHeading" "urlExample" "urlInsert" "selectOfOrder" "submitOfOrder";			
	}
		
	#mainHeading {
		display: block;
		grid-area: mainHeading;
		font-weight: bold;
		width: 100%;
	}

	#urlExample {
		grid-area: urlExample;
		display: block;
		width: 100%;
	}
		
	#urlInsert {
		grid-area: urlInsert;
		display: block;
		height: 100%;
	}

		
	#selectOfOrder{
		grid-area: selectOfOrder;
		display: block;
		width: 100%;
	}
		
	#submitOfOrder {
		grid-area: submitOfOrder;
		display:block;
		width: 100%;
		height: 100%;
	}
	
	.appendedTitle {
		grid-area: detailTitleHeading;
		font-weight: bold;
		width: 100%;
		margin: 1rem 1rem 0rem 1rem;
		color: red;
		font-size: 15pt;
	}

	.appendedDescription {
		grid-area: description;
		width: 100%;
		text-align: left;
		max-height: 100px;
		overflow: hidden;
		margin: 1rem;
		padding-right: 1rem;
		font-size: 12pt;
		font-weight: bold;
	}

	.appendedDate {
		width: 100%;
		grid-area: date;
		font-size: 12pt;
		margin: 0.25rem 1rem 1rem 1rem;
		font-style: italic;
	}

	.linkToDetail {
		grid-area: linkToDetail;
		margin: 0.25rem;
		align-self: end;
		margin-left: 2rem;
	}
}



